<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Où en êtes-vous avec le GDPR ?</h2>
        <h3 class="section-subheading text-muted">Nous développons une gamme de produits et services pour vous faciliter la mise en place d’une gestion responsable des données.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/dirigeant.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Dirigeants</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Vous êtes responsables des activités de votre organisation.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/start-upbis.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Start upers</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Votre activité comprend de la donnée personnelle, faites en sorte d'être dans les clous.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/dpobis.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">DPO, CIL, Avocats spécialisés</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Votre activité va être impactée par le GDPR.</p>
              </div>
            </div>
          </li>
          <!--  <li class="timeline-inverted">
          <div class="timeline-image">
          <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
        </div>
        <div class="timeline-panel">
        <div class="timeline-heading">
        <h4>July 2014</h4>
        <h4 class="subheading">Phase Two Expansion</h4>
      </div>
      <div class="timeline-body">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
    </div>
  </div>
</li>
<li class="timeline-inverted">
<div class="timeline-image">
<h4>Be Part
<br>Of Our
<br>Story!</h4>
</div>
</li> -->
        </ul>
        <div>
          <h4 class="subheading" id="sensibilisation"> Notre questionnaire de sensibilisation</h4>
          <p class="text-muted">Nous vous offrons ce questionnaire de sensibilisation. 15 min pour mesurer où vous en êtes et découvrir nos recommandations.</p>
        </div>
        <div class="col-lg-12 text-right">
            <button class="page-scroll btn btn-xl" href="#services">LE GDPR ET MOI ?
            <br/>15 min pour en savoir plus</button>
        </div>
      </div>
    </div>
  </div>
</section>
