<!-- Services Section -->
    <section id="concept">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.concept.title }}</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                	{% for text in site.data.concept.description %}
                    	<p class="text-muted text-left">{{ text }}</p>
                	{% endfor %}
                </div>


                <div class="col-sm-6 col-md-6">
                    <p class="text-center"><img src="{{ page.url | prepend: site.baseurl }}img/iphone-front-blur.png"  alt="Mr Bin" class="iphone-demo"/>, {{ example }}</p>
                </div>
            </div>

        </div>
    </section>
