<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactez-nous</h2>
                    <h3 class="section-subheading text-muted2">Nous nous tenons à votre disposition pour toute demande d'informations ou questions.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Votre nom *" id="name" required data-validation-required-message="Entrer votre nom svp.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Votre email *" id="email" name="email" required data-validation-required-message="Entrer votre adresse email svp.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Votre n° de téléphone *" id="phone" required data-validation-required-message="Entrer votre numéro de téléphone svp.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="control-group form-group">
                                  <input class="form-control" placeholder="Votre entreprise *" id="entreprise" required data-validation-required-message="Entrer le nom de votre entreprise svp."></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Votre message *" id="message" name="message" required data-validation-required-message="Entrer votre message svp."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                              <h3 class="section-subheading clearfix text-muted2">Les données que nous collectons dans ce formulaire seront conservées une année puis supprimées, elles ne seront ni partagées ni vendues, elles ne seront accessibles qu’en interne à la personne chargée de répondre à vos questions.</h3>
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
