<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Privacy Policy</h2>
                        <hr class="star-primary">
                        <div>
                          <h4>Acceptation de fait</h4>
                          <p class="descriptions">En utilisant EASYPRIVACY.TECH, l’internaute prend note et accepte les conditions ici après énumérées.</p>
                          <h4>Abus</h4>
                          <p class="descriptions">En application de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, pour signaler un contenu litigieux ou si vous êtes victime d’une utilisation frauduleuse du site EASYPRIVACY.TECH, merci de contacter l’administrateur du site à l’adresse courriel : <b>glenn@easyprivacy.tech</b></p>
                          <h4>Collecte et traitement de données personnelles</h4>
                          <p class="descriptions"> Les informations recueillies par EASYPRIVACY.TECH ne sont jamais communiquées à des tiers sans le consentement explicite des personnes concernées.
                            <br/><br/>
                            Sauf cas particulier et encadré sur le support de collecte, ces informations proviennent de l’enregistrement volontaire de données personnelles fournies par l’internaute, avec son consentement explicite sur l’usage et le traitement de ces données.
                            <br/><br/>
                            En application de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, l’internaute dispose d’un droit d’accès, de rectification et de suppression des informations personnelles le concernant stockées par EASYPRIVACY.TECH, qu’il peut exercer à tout moment auprès de son responsable, Laure Isabelle LIGAUDAN, à l'adresse suivante : <b>laure@easyprivacy.tech</b>.
                          </p>
                          <h4>Cookies</h4>
                          <p class="descriptions">Le site EASYPRIVACY.TECH n'utilise d’aucun cookie, il est cookies free :)
                          <br/><br/>
                          Toutefois EASYPRIVACY.TECH utilise CLOUDFLARE a des fins de distribution du contenu des pages, entre l'hébergeur et l'internaute. Ce service insère un cookie a des fins techniques pour lui permettre d'acheminer correctement la connexion de l'internaute dans son infrastructure durant la visite du site.
                          </p>
                          <h4>Propriétaire / Éditeur</h4>
                          <p class="descriptions">EASYPRIVACY.TECH est un site web édité par Oze & Co et publié sous la direction de Laure Isabelle LIGAUDAN, Michaël FOZEU et Glenn ROLLAND. L’ensemble du site easyprivacy.Tech, pages et contenus, est la propriété de Oze & Co.
                            <br/><br/>
                            Contact administratif du site EASYPRIVACY.TECH : Michaël FOZEU <b>michael@easyprivacy.tech</b>
                          </p>
                          <h4>Hébergeur</h4>
                          <p class="descriptions">
                            EASYPRIVACY.TECH décline toute responsabilité quant aux éventuelles interruptions du site EASYPRIVACY.TECH et de ses services.
                          </p>
                          <h4>Concepteur / Créateur</h4>
                          <p class="descriptions">L’ensemble du site EASYPRIVACY.TECH, conception, charte graphique et applications, a été créé et développé et est administré par Oze & Co.</p>
                          <h4>Contenus et droits de reproduction</h4>
                          <p class="descriptions">En application des articles L. 111-1 et L. 123-1 du Code de la Propriété Intellectuelle, l’ensemble des contenus de ce site (textes, images, vidéos et tout média en général), sauf mention contraire explicite, est protégé par le droit d’auteur. La reproduction, même partielle, des contenus des pages de ce site sans accord préalable de Oze & Co est strictement interdite (les courtes citations sont autorisées par le droit français pour commentaires et critiques, tant que ceux-ci y sont strictement concomitants et que sont précisés l’auteur original et le lien Internet vers la page source).
                            <br/>
                            <br/>OZE & Co est immatriculée au RCS du Havre Siret : 823 633 920 & géré par Fred de la compta
                            <br/>
                            <br/>© Copyright Oze & Co Tous droits réservés.
                          </p>
                      </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
