  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="find-us">
                        {% for network in site.social %}
                        <li class="social-media"><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i>{{ network.username }} </a>
                        </li>
                        {% endfor %}
                        <li class="blog"><a href="https://blog.datatransition.net" class="contact-link ">le Blog DataTransition</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="quicklinks">
                        <li><a href="#portfolioModal4" class="contact-link " data-toggle="modal">Mentions légales</a>
                        </li>
                        <li><a href="#portfolioModal5" class="contact-link " data-toggle="modal">Code social</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
