  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Suivez-nous sur :
                    <ul class="find-us">
                        {% for network in site.social %}
                        <li class="social-media"><a href="{{ network.url }}"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-{{ network.title }} fa-stack-1x fa-inverse"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="quicklinks">
                        <li><a href="#portfolioModal4" class="contact-link " data-toggle="modal">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
