 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

	<!-- Make sure HTTPS version of the site is used -->
    <script>
       if (!(window.location.host.startsWith("127.0.0.1") ||
			 window.location.host.startsWith("localhost")) && 
			(window.location.protocol != "https:")) {
    	   window.location.protocol = "https";
       }
    </script>

